* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	color: #000000;
	-webkit-tap-highlight-color: transparent;
}

button {
	border: none;
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid red;
	border-radius: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {

	-webkit-appearance: none;
	border-radius: 0;

}

input {
	border-radius: 0;
	border: 1px solid red;
	background-color: rgba(0, 0, 0, 0);
	color: #163625;
}


html,
body {
	-webkit-overflow-scrolling: touch;
}
.authentication{
	width: 7.5rem;
	margin: 0 auto;	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.auth_head{
	height: 0.9rem;
	background-color: #58a1f0;
	width: 100%;
	color: #FFFFFF;
	font-size: 0.43rem;
	display: flex;
	padding: 0 0.2rem;
	align-items: center;
	justify-content: space-between;
}
.auth_head>a{
	width: 0.5rem;
	height: 0.5rem;
}
.auth_head>a:nth-child(1){
	background-image: url(../img/xz.png);
	background-size: 100% 100%;
}

/* 上传照片开始 */
.auth_img{
	width: 90%;
	height: 8rem;
	border-radius: 0.1rem;
	margin-top: 0.2rem;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	font-size: 0.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.2rem 0;
}
.auth_img>h4{
	font-size: 0.35rem;
	margin: 0.2rem;
	font-weight: 500;
	color: rgba(0,0,0,0.6);
}
.auth_img>label{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5rem;
	height: 3rem;
	overflow: hidden;
	margin: 0.15rem;
	border-radius: 0.1rem;
	position: relative;
	border: 1px solid rgba(0,0,0,0.05);
	background-color: rgba(0,0,0,0.01);
	overflow-y: scroll;
}
.auth_img img{
	width: 100%;
}
.auth_img>label>img:nth-child(2){
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
}
.next_image{
	pointer-events:none;
	background-color: rgba(0,0,0,0.15);
	margin-top: 0.2rem;
	width: 80%;
	height: 0.7rem;
	outline: none;
	color: #FFFFFF;
	border: 0;
	border-radius: 0.1rem;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.7rem;
}
/* 上传照片结束 */

/* 填写信息开始 */
.forms{
	width: 7.5rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	/* left: calc(50% - 3.75rem); */
	left: 100vw;
	background-color: #FFFFFF;
	transition: all 0.3s;
}
.form_input{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form_input>div{
	margin: 0.2rem 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
.form_input>div:nth-child(1){
	overflow: hidden;
	width: 6rem;
	height: 2rem;
	margin: 0.5 0.1rem;
}
.form_input>div:nth-child(1)>div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.1rem;
	overflow-y: scroll;
}
.form_img>div>img{
	width: 100%;
}
.form_img>div{
	width: 50%;
}
.form_input>div:nth-child(2){
	display: flex;
	flex-wrap: wrap;
	padding: 0 0.5rem;
	position: relative;
}
.form_input>div:nth-child(2) span{
	width: 35%;
	text-align: end;
	font-size: 0.38rem;
}
.form_input>div:nth-child(2) input{
	width: 65% !important;
	outline: none;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	text-align: left;
	padding-left: 0.1rem;
	border-radius: 0;
	font-size: 0.32rem;
}
.form_input>div:nth-child(2) span,.form_input>div:nth-child(2) input{
	height: 0.45rem;
	color: rgba(0,0,0,0.8);
	margin-top: 0.4rem;
}
.submits{
	width: 5rem;
	outline: none;
	border: 0;
	background-color: rgba(0,0,0,0.15);
	color: #FFFFFF;
	border-radius: 0.1rem;
	height: 0.7rem;
	pointer-events:none;
	font-size: 0.35rem;
	text-align: center;
	line-height: 0.7rem;
}
#date-group1-2{
	width: 70%;
	outline: none;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	text-align: left;
	padding-left: 0.1rem;
	border-radius: 0;
	height: 0.45rem;
	color: rgba(33, 33, 33, 0.8);
	margin-top: 0.4rem;
}
/* 填写信息结束 */

/* 加载动画开始 */
.loadings {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 0.3rem;
	color: #464646;
	z-index: 200;
}
.loadings>div{
	display: flex;
	height: 0.8rem;
	align-items: center;
}
.loadings>div>p {
	width: 0.1rem;
	margin: 0.03rem;
	border-radius: 0.05rem;
	transition: all;
	animation: loading 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes loading{
	0%{
		height: 0.1rem;
		background-color: #0054ef;
	}
	50%{
		height: 0.8rem;
		background-color: #1ddaff;
	}
	100%{
		height: 0.1rem;
		background-color: #0054ef;
	}
}
.loadings>div>p:nth-child(2){
	animation-delay: .2s;
}
.loadings>div>p:nth-child(3){
	animation-delay: .5s;
}
.loadings>div>p:nth-child(4){
	animation-delay: .8s;
}
.loadings>div>p:nth-child(5){
	animation-delay: 1.1s;
}
.loadings>div>p:nth-child(6){
	animation-delay: 1.4s;
}
.loadings>div>p:nth-child(7){
	animation-delay: 1.7s;
}
.loadings>div>p:nth-child(8){
	animation-delay: 2s;
}
.loadings>div>p:nth-child(9){
	animation-delay: 2.3s;
}
.loadings>div>p:nth-child(10){
	animation-delay: 2.6s;
}
/* 加载动画结束 */

/* 弹窗开始 */
.next_form{
	width: 7.5rem;
	height: 100vh;
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: calc(50% - 3.75rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
	z-index: 100;
}
.next_form>h6{
	width: 70%;
	min-height: 1.1rem;
	border-top-left-radius: 0.1rem;
	border-top-right-radius: 0.1rem;
	background-color: #FFFFFF;
	text-align: center;
	font-weight: 500;
	padding: 0.15rem;
}
.next_form>div{
	height: .9rem;
	width: 70%;
	background-color: #FFFFFF;
	border-top: 1px solid rgba(0,0,0,0.1);
	display: flex;
	border-bottom-right-radius: 0.1rem;
	border-bottom-left-radius: 0.1rem;
}
.next_form>div>a{
	width: 50%;
	height: .9rem;
	text-align: center;
	line-height: .9rem;
	color: rgba(0,0,0,0.8);
	font-size: 0.4rem;
	text-decoration: none;
}
.next_form>div>a:nth-child(2){
	background-color: #47b6ff;
	color: #FFFFFF;
	border-bottom-right-radius: 0.1rem;
}
/* 弹窗结束 */

/* 跳转倒计时开始 */
.jumpcountdown{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.jumpcountdown>img{
	width: 2rem;
}
.jumpcountdown>h4{
	display: flex;
	font-size: 0.4rem;
}
/* 跳转倒计时结束 */

